html {
  margin: 0;
  padding: 0;
  background: rgb(248, 153, 255);
  background: linear-gradient(145deg, rgba(248, 153, 255, 1) 0%, rgba(17, 179, 209, 1) 56%, rgba(95, 255, 167, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}